.header {
    height: 10%;
    width: 100vw;
    margin-bottom: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(60,60,60);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 20px;
}

.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info-box p {
    color: white;
}

.info-box img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
