body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(30, 30, 30);

  height: 90vh;

  display: flex;
  justify-content: center;
  justify-items: center;

  align-content: center;
  align-items: center;
}

body * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sample-button {
  width: 100px;
  height: 40px;

  border: none;
  border-radius: 8px;
  background-color: rgb(255, 180, 0);

  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.sample-button:hover {
  background-color: rgb(255, 160, 0);
  transform: scale(1.1);
} 

.counter {
  color: white;
  margin-top: 20px;
  margin-left: 20%;
}