.alert {
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  color: white;
  margin-top: 16px;
  font-size: 16px;
}

.alert-success {
  background-color: rgb(60, 180, 75);
}

.alert-warning {
  background-color: rgb(240, 180, 50);
}

.alert-error {
  background-color: rgb(220, 60, 60);
}
