.product-list {
  display: grid;
  gap: 16px;
  padding: 16px;
}

@media (min-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}

.product-card {
  background: rgb(45, 45, 45);
  padding: 24px;
  text-align: center;
  border-radius: 6px;
}
