body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(30, 30, 30);

  height: 90vh;

  display: flex;
  justify-content: center;
  justify-items: center;

  align-content: center;
  align-items: center;
}

body * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white
}

button {
  background-color: rgb(80, 155, 255);
  color: white;
  border-color: white;
  border-radius: 4px;

  font-size: 16px;
  min-width: 100px;
  min-height: 30px;

  transition: 0.1s transform ease-in;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}