.form {
    width: 400px;
    height: 400px;

    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(60,60,60,0.3);
    color: white;
    font-size: 20px;

    display: flex;
    flex-direction: column;

    border-radius: 12px;
    box-shadow: inset 0 16px 32px rgba(0,0,0,0.2);
}

.form * {
    margin-top: 10px;

    font-size: 20px;
    padding-left: 10px;
}

.form input {
    background-color: rgb(120,120,120);
    margin-left: 10px;
    margin-right: 10px;

    height: 30px;

    border-radius: 4px;
    border: none;
}

.form input::placeholder {
    color: rgb(200,200,200)
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;

    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}