html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dark-theme {
  background-color: rgb(30,30,30);
  color: white;

  height: 100vh;
}

.light-theme {
  background-color: white;
  color: black;

  height: 100vh;
}