.student-card {
    width: 400px;
    height: 600px;

    background-color: rgb(60,60,60);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

    font-size: 20px;

    box-shadow: inset 0, 16px, 48px, rgba(0,0,0, 0.2);
    border-radius: 8px;
}

.student-card img {
    margin-bottom: 20%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 200px;
    width: 200px;

    border-radius: 999px;
}
